[viewBag]
==

<script src="{{ ['assets/amcharts/amcharts.js',
'assets/amcharts/serial.js',
'assets/amcharts/themes/light.js',
'assets/amcharts/plugins/responsive/responsive.min.js'
]|theme }}"></script>


<div id="chartdiv2" style="width: 100%; height: 55%;"></div>

<script>
var chart = AmCharts.makeChart( "chartdiv2", {
  "type": "serial",
  "theme": "light",
  "dataProvider": [ {
    "country": "E-Tribunal",
    "visits": 200,
    "color":"#93278f"
  }, {
    "country": "MyGST System",
    "visits": 400,
    "color":"#93278f"
  }, {
    "country": " CJP Online",
    "visits": 700,
    "color":"#93278f"
  }, {
    "country": "MyOnline Maid",
    "visits": 1000,
    "color":"#93278f"
  }, {
    "country": "MyOnline Student",
    "visits": 1100,
    "color":"#93278f"
  } ],
  "valueAxes": [ {
    "gridColor": "#FFFFFF",
    "gridAlpha": 0.2,
    "dashLength": 0
  } ],
  "gridAboveGraphs": true,
  "startDuration": 1,
  "graphs": [ {
    "balloonText": "[[category]]: <b>[[value]]</b>",
    "fillAlphas": 0.8,
    "lineAlpha": 0.2,
    "colorField" : "color",
    "type": "column",
    "valueField": "visits"
  } ],
  "chartCursor": {
    "categoryBalloonEnabled": false,
    "cursorAlpha": 0,
    "zoomable": false
  },
  "categoryField": "country",
  "categoryAxis": {
    "gridPosition": "start",
    "gridAlpha": 0,
    "tickPosition": "start",
    "tickLength": 20
  },
  "export": {
    "enabled": true
  }

} );
</script>
