[viewBag]
==
<footer class='footer'>
	<div class="container-fluid">
		<div class="row">
			<!-- Link to manual -->
			<div class="col-xs-6 col-md-4 col-lg-1 ">
				
			</div>

			<!-- Support / Donate -->
			<div  class="col-xs-6 col-md-4  col-lg-5 text-right"  >
				<a href='http://donate.limesurvey.org'>
					<img alt='Support this project: Donate to LimeSurvey' title='Support this project: Donate to LimeSurvey!' src="{{ 'assets/images/footer.png'|theme }}">
				</a>
			</div>

			<!-- Lime survey website -->
			<div class="col-xs-6 col-md-4 col-lg-6 text-right">
				<a  title='Visit our website!' href='' target='_blank'>MDEC</a><br />Survey Forms 1.0</div>
			</div>
		</div>
	</footer>
